interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.1038%2Fs41586-020-2649-2/agency
  response:
    body:
      string: '{"status":"ok","message-type":"work-agency","message-version":"1.0.0","message":{"DOI":"10.1038\/s41586-020-2649-2","agency":{"id":"crossref","label":"Crossref"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public-single
      x-concurrency-limit:
      - '1'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '5'
    status:
      code: 200
      message: OK
version: 1
