interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works?query=title%3A%22Crystal+structure+of+rhodopsin%22&rows=3&cursor=*&mailto=test@example.com
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"items-per-page":3,"total-results":15,"next-cursor":null,"items":[{"DOI":"10.1038/nature12373","title":["Crystal
        structure of rhodopsin bound to arrestin by femtosecond X-ray laser"],"author":[{"given":"Yanyong","family":"Kang"}],"container-title":["Nature"],"publisher":"Springer
        Science and Business Media LLC","published-print":{"date-parts":[[2015,7,30]]},"is-referenced-by-count":892,"type":"journal-article"},{"DOI":"10.1126/science.1219218","title":["Crystal
        structure of metarhodopsin II"],"author":[{"given":"Hui-Woog","family":"Choe"}],"container-title":["Science"],"publisher":"American
        Association for the Advancement of Science (AAAS)","published-print":{"date-parts":[[2011,7,22]]},"is-referenced-by-count":623,"type":"journal-article"},{"DOI":"10.1073/pnas.0804276105","title":["Crystal
        structure of a photoactivated deprotonated intermediate of rhodopsin"],"author":[{"given":"Midori","family":"Murakami"}],"container-title":["Proceedings
        of the National Academy of Sciences"],"publisher":"Proceedings of the National
        Academy of Sciences","published-print":{"date-parts":[[2008,7,8]]},"is-referenced-by-count":201,"type":"journal-article"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Interval:
      - 1s
      X-Rate-Limit-Limit:
      - '50'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works?rows=1&mailto=default%40example.com
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":179629323,"items":[{"indexed":{"date-parts":[[2025,3,28]],"date-time":"2025-03-28T05:01:47Z","timestamp":1743138107987,"version":"3.40.3"},"publisher-location":"Wiesbaden","reference-count":66,"publisher":"Springer
        Fachmedien Wiesbaden","isbn-type":[{"type":"print","value":"9783658176716"},{"type":"electronic","value":"9783658176716"}],"license":[{"start":{"date-parts":[[2018,11,3]],"date-time":"2018-11-03T00:00:00Z","timestamp":1541203200000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"published-print":{"date-parts":[[2019]]},"DOI":"10.1007\/978-3-658-17671-6_18-1","type":"book-chapter","created":{"date-parts":[[2018,11,15]],"date-time":"2018-11-15T06:01:17Z","timestamp":1542261677000},"page":"1-17","update-policy":"https:\/\/doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":2,"title":["Soziale
        Innovation"],"prefix":"10.1007","author":[{"given":"J\u00fcrgen","family":"Howaldt","sequence":"first","affiliation":[]},{"given":"Michael","family":"Schwarz","sequence":"additional","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2018,11,3]]},"reference":[{"key":"18-1_CR1","first-page":"14","volume-title":"Neu!
        Besser! Billiger! Soziale Innovation als leeres Versprechen?","author":"J
        Aderhold","year":"2016","unstructured":"Aderhold, Jens. 2016. Im Labyrinth
        sozialer Innovation. Deutungsprobleme politischer EntscheiderInnen, wissenschaftlicher
        Institutionen und gesellschaftlicher AkteurInnen. In Neu! Besser! Billiger!
        Soziale Innovation als leeres Versprechen? Hrsg. Katharina Meichenitsch, Michaela
        Neumayer und Martin Schenk, 14\u201345. Wien: Mandelbaum Verlag."},{"key":"18-1_CR2","doi-asserted-by":"publisher","DOI":"10.1007\/978-3-319-13773-5","volume-title":"Generative
        mechanisms transforming the social order","author":"MS Archer","year":"2015","unstructured":"Archer,
        Margaret S. 2015. Generative mechanisms transforming the social order. Cham\/Heidelberg\/New
        York\/Dordrecht\/London: Springer."},{"key":"18-1_CR3","unstructured":"Avelino,
        Flor, Julia Wittmayer, Alex Haxeltine, Ren\u00e9 Kemp, Tim O\u2019Riordan,
        Paul Weaver, Derk Loorbach, und Jan Rotman. 2014. Game-changers and transformative
        social innovation. The case of the economic crisis and the new economy, TRANSIT
        working paper. http:\/\/www.transitsocialinnovation.eu\/content\/original\/TRANSIT%20outputs\/91%20Gamechangers_TSI_Avelino_etal_TRANSIT_workingpaper_2014.pdf
        . Zugegriffen am 08.04.2016."},{"issue":"4","key":"18-1_CR4","doi-asserted-by":"publisher","first-page":"635","DOI":"10.1017\/S004727941600009X","volume":"45","author":"N
        Ayob","year":"2016","unstructured":"Ayob, Noorseha, Simon Teasdale, und Kylie
        Fagan. 2016. How social innovation \u201acame to be\u2018: Tracing the evolution
        of a contested concept. Journal of Social Policy 45(4): 635\u2013653.","journal-title":"Journal
        of Social Policy"},{"key":"18-1_CR5","unstructured":"BEPA Report. 2010. Empowering
        people, driving change. Social innovation in the European Union. Bureau of
        European Policy Advisers, European Commission. http:\/\/www.transitsocialinnovation.eu\/resource-hub\/empowering-people-driving-change-social-innovation-in-the-european-union
        . Zugegriffen am 08.04.2016."},{"issue":"4","key":"18-1_CR6","doi-asserted-by":"publisher","first-page":"415","DOI":"10.1111\/[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works?query=rhodopsin+crystal+structure&rows=1&cursor=%2A&mailto=default%40example.com
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoJAAAAACvgyvrFlV1U25DZFJ2U2JLRVVuNjdsaVhxWkEAAAAAr4Mr7BZVdVNuQ2RSdlNiS0VVbjY3bGlYcVpBAAAAAK-hJlAWTWpkc1RvTlBTMUdQeGFHUVJGLTgwZwAAAACzednlFkNTcEFMQXBqUlotS2NVR2U1ZnB[...]
