interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works?rows=1&mailto=test@example.com
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"items-per-page":1,"query":{"start-index":0,"search-terms":null},"total-results":163456789,"items":[{"DOI":"10.1000/test","title":["Test Publication"],"type":"journal-article"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Interval:
      - 1s
      X-Rate-Limit-Limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
