interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works?rows=1&mailto=default%40example.com
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":180075966,"items":[{"indexed":{"date-parts":[[2025,3,28]],"date-time":"2025-03-28T05:01:47Z","timestamp":1743138107987,"version":"3.40.3"},"publisher-location":"Wiesbaden","reference-count":66,"publisher":"Springer
        Fachmedien Wiesbaden","isbn-type":[{"type":"print","value":"9783658176716"},{"type":"electronic","value":"9783658176716"}],"license":[{"start":{"date-parts":[[2018,11,3]],"date-time":"2018-11-03T00:00:00Z","timestamp":1541203200000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"published-print":{"date-parts":[[2019]]},"DOI":"10.1007\/978-3-658-17671-6_18-1","type":"book-chapter","created":{"date-parts":[[2018,11,15]],"date-time":"2018-11-15T06:01:17Z","timestamp":1542261677000},"page":"1-17","update-policy":"https:\/\/doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":2,"title":["Soziale
        Innovation"],"prefix":"10.1007","author":[{"given":"J\u00fcrgen","family":"Howaldt","sequence":"first","affiliation":[]},{"given":"Michael","family":"Schwarz","sequence":"additional","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2018,11,3]]},"reference":[{"key":"18-1_CR1","first-page":"14","volume-title":"Neu!
        Besser! Billiger! Soziale Innovation als leeres Versprechen?","author":"J
        Aderhold","year":"2016","unstructured":"Aderhold, Jens. 2016. Im Labyrinth
        sozialer Innovation. Deutungsprobleme politischer EntscheiderInnen, wissenschaftlicher
        Institutionen und gesellschaftlicher AkteurInnen. In Neu! Besser! Billiger!
        Soziale Innovation als leeres Versprechen? Hrsg. Katharina Meichenitsch, Michaela
        Neumayer und Martin Schenk, 14\u201345. Wien: Mandelbaum Verlag."},{"key":"18-1_CR2","doi-asserted-by":"publisher","DOI":"10.1007\/978-3-319-13773-5","volume-title":"Generative
        mechanisms transforming the social order","author":"MS Archer","year":"2015","unstructured":"Archer,
        Margaret S. 2015. Generative mechanisms transforming the social order. Cham\/Heidelberg\/New
        York\/Dordrecht\/London: Springer."},{"key":"18-1_CR3","unstructured":"Avelino,
        Flor, Julia Wittmayer, Alex Haxeltine, Ren\u00e9 Kemp, Tim O\u2019Riordan,
        Paul Weaver, Derk Loorbach, und Jan Rotman. 2014. Game-changers and transformative
        social innovation. The case of the economic crisis and the new economy, TRANSIT
        working paper. http:\/\/www.transitsocialinnovation.eu\/content\/original\/TRANSIT%20outputs\/91%20Gamechangers_TSI_Avelino_etal_TRANSIT_workingpaper_2014.pdf
        . Zugegriffen am 08.04.2016."},{"issue":"4","key":"18-1_CR4","doi-asserted-by":"publisher","first-page":"635","DOI":"10.1017\/S004727941600009X","volume":"45","author":"N
        Ayob","year":"2016","unstructured":"Ayob, Noorseha, Simon Teasdale, und Kylie
        Fagan. 2016. How social innovation \u201acame to be\u2018: Tracing the evolution
        of a contested concept. Journal of Social Policy 45(4): 635\u2013653.","journal-title":"Journal
        of Social Policy"},{"key":"18-1_CR5","unstructured":"BEPA Report. 2010. Empowering
        people, driving change. Social innovation in the European Union. Bureau of
        European Policy Advisers, European Commission. http:\/\/www.transitsocialinnovation.eu\/resource-hub\/empowering-people-driving-change-social-innovation-in-the-european-union
        . Zugegriffen am 08.04.2016."},{"issue":"4","key":"18-1_CR6","doi-asserted-by":"publisher","first-page":"415","DOI":"10.1111\/[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works?filter=doi%3A10.1038%2Fs41586-020-2649-2%2Cdoi%3A10.1126%2Fscience.abc4765%2Cdoi%3A10.1016%2Fj.cell.2020.06.043&rows=3&mailto=default%40example.com
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":3,"items":[{"indexed":{"date-parts":[[2026,3,15]],"date-time":"2026-03-15T17:32:01Z","timestamp":1773595921919,"version":"3.50.1"},"reference-count":57,"publisher":"Springer
        Science and Business Media LLC","issue":"7825","license":[{"start":{"date-parts":[[2020,9,16]],"date-time":"2020-09-16T00:00:00Z","timestamp":1600214400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0"},{"start":{"date-parts":[[2020,9,16]],"date-time":"2020-09-16T00:00:00Z","timestamp":1600214400000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"short-container-title":["Nature"],"published-print":{"date-parts":[[2020,9,17]]},"abstract":"<jats:title>Abstract<\/jats:title>\n                  <jats:p>\n                    Array
        programming provides a powerful, compact and expressive syntax for accessing,
        manipulating and operating on data in vectors, matrices and higher-dimensional
        arrays. NumPy is the primary array programming library for the Python language.
        It has an essential role in research analysis pipelines in fields as diverse
        as physics, chemistry, astronomy, geoscience, biology, psychology, materials
        science, engineering, finance and economics. For example, in astronomy, NumPy
        was an important part of the software stack used in the discovery of gravitational
        waves\n                    <jats:sup>1<\/jats:sup>\n                    and
        in the first imaging of a black hole\n                    <jats:sup>2<\/jats:sup>\n                    .
        Here we review how a few fundamental array concepts lead to a simple and powerful
        programming paradigm for organizing, exploring and analysing scientific data.
        NumPy is the foundation upon which the scientific Python ecosystem is constructed.
        It is so pervasive that several projects, targeting audiences with specialized
        needs, have developed their own NumPy-like interfaces and array objects. Owing
        to its central position in the ecosystem, NumPy increasingly acts as an interoperability
        layer between such array computation libraries and, together with its application
        programming interface (API), provides a flexible framework to support the
        next decade of scientific and industrial analysis.\n                  <\/jats:p>","DOI":"10.1038\/s41586-020-2649-2","type":"journal-article","created":{"date-parts":[[2020,9,17]],"date-time":"2020-09-17T16:48:17Z","timestamp":1600361297000},"page":"357-362","update-policy":"https:\/\/doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":20612,"title":["Array
        programming with NumPy"],"prefix":"10.1038","volume":"585","author":[{"given":"Charles
        R.","family":"Harris","sequence":"first","affiliation":[]},{"ORCID":"https:\/\/orcid.org\/0000-0002-5263-5070","authenticated-orcid":false,"given":"K.
        Jarrod","family":"Millman","sequence":"additional","affiliation":[]},{"ORCID":"https:\/\/orcid.org\/0000-0001-9276-1891","authenticated-orcid":false,"given":"St\u00e9fan
        J.","family":"van der Walt","sequence":"additional","affiliation":[]},{"ORCID":"https:\/\/orcid.org\/0000-0002-0300-3333","authenticated-orcid":false,"given":"Ralf","family":"Gommers","sequence":"additional","affiliation":[]},{"given":"Pauli","family":"Virtanen","sequence":"additional","affiliat[...]
