interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works?filter=doi:10.1038/nature12373&rows=1&mailto=test@example.com
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"items-per-page":1,"query":{"start-index":0,"search-terms":null},"total-results":1,"items":[{"DOI":"10.1038/nature12373","title":["Crystal structure of rhodopsin bound to arrestin by femtosecond X-ray laser"],"author":[{"given":"Yanyong","family":"Kang","sequence":"first","affiliation":[]},{"given":"X. Edward","family":"Zhou","sequence":"additional","affiliation":[]}],"container-title":["Nature"],"publisher":"Springer Science and Business Media LLC","published-print":{"date-parts":[[2015,7,30]]},"is-referenced-by-count":892,"references-count":50,"type":"journal-article","ISSN":["0028-0836","1476-4687"],"subject":["Multidisciplinary"],"volume":"523","issue":"7562","page":"561-567","language":"en","license":[{"URL":"http://www.springer.com/tdm","start":{"date-parts":[[2015,7,30]]}}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Interval:
      - 1s
      X-Rate-Limit-Limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
