interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works?query=title%3A%22Crystal+structure+of+rhodopsin%22&rows=3&cursor=*&mailto=test@example.com
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"items-per-page":3,"total-results":15,"next-cursor":null,"items":[{"DOI":"10.1038/nature12373","title":["Crystal structure of rhodopsin bound to arrestin by femtosecond X-ray laser"],"author":[{"given":"Yanyong","family":"Kang"}],"container-title":["Nature"],"publisher":"Springer Science and Business Media LLC","published-print":{"date-parts":[[2015,7,30]]},"is-referenced-by-count":892,"type":"journal-article"},{"DOI":"10.1126/science.1219218","title":["Crystal structure of metarhodopsin II"],"author":[{"given":"Hui-Woog","family":"Choe"}],"container-title":["Science"],"publisher":"American Association for the Advancement of Science (AAAS)","published-print":{"date-parts":[[2011,7,22]]},"is-referenced-by-count":623,"type":"journal-article"},{"DOI":"10.1073/pnas.0804276105","title":["Crystal structure of a photoactivated deprotonated intermediate of rhodopsin"],"author":[{"given":"Midori","family":"Murakami"}],"container-title":["Proceedings of the National Academy of Sciences"],"publisher":"Proceedings of the National Academy of Sciences","published-print":{"date-parts":[[2008,7,8]]},"is-referenced-by-count":201,"type":"journal-article"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Interval:
      - 1s
      X-Rate-Limit-Limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
