interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works?query=title%3A%22Crystal+structure+of+rhodopsin%22&rows=3&cursor=*&mailto=test@example.com
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"MTAyNzU1NjQxMzAwMCwxMC4xMDY3JTJGbW9lLjIwMDAuMTA3MjI1","total-results":2891714,"items":[{"indexed":{"date-parts":[[2026,7,1]],"date-time":"2026-07-01T16:40:07Z","timestamp":1782924007454,"version":"3.54.5"},"reference-count":15,"publisher":"Elsevier
        BV","issue":"2","license":[{"start":{"date-parts":[[2001,2,1]],"date-time":"2001-02-01T00:00:00Z","timestamp":980985600000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2016,7,6]],"date-time":"2016-07-06T00:00:00Z","timestamp":1467763200000},"content-version":"vor","delay-in-days":5634,"URL":"https:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["The
        Journal of Thoracic and Cardiovascular Surgery"],"published-print":{"date-parts":[[2001,2]]},"DOI":"10.1067\/mtc.2001.111655","type":"journal-article","created":{"date-parts":[[2002,7,25]],"date-time":"2002-07-25T00:18:43Z","timestamp":1027556323000},"page":"331-335","source":"Crossref","is-referenced-by-count":41,"title":["Heparin
        antibodies and thromboembolism in heparin-coated and noncoated ventricular
        assist devices"],"prefix":"10.25013","volume":"121","author":[{"given":"Andreas","family":"Koster","sequence":"first","affiliation":[],"role":[{"vocabulary":"crossref","role":"author"}]},{"given":"Matthias","family":"Loebe","sequence":"additional","affiliation":[],"role":[{"vocabulary":"crossref","role":"author"}]},{"given":"Ralf","family":"Sodian","sequence":"additional","affiliation":[],"role":[{"vocabulary":"crossref","role":"author"}]},{"given":"Evgenij
        V.","family":"Potapov","sequence":"additional","affiliation":[],"role":[{"vocabulary":"crossref","role":"author"}]},{"given":"Roland","family":"Hansen","sequence":"additional","affiliation":[],"role":[{"vocabulary":"crossref","role":"author"}]},{"given":"Johannes","family":"M\u00fcller","sequence":"additional","affiliation":[],"role":[{"vocabulary":"crossref","role":"author"}]},{"given":"Fritz","family":"Mertzlufft","sequence":"additional","affiliation":[],"role":[{"vocabulary":"crossref","role":"author"}]},{"given":"George
        J.","family":"Crystal","sequence":"additional","affiliation":[],"role":[{"vocabulary":"crossref","role":"author"}]},{"given":"Herrmann","family":"Kuppe","sequence":"additional","affiliation":[],"role":[{"vocabulary":"crossref","role":"author"}]},{"given":"Roland","family":"Hetzer","sequence":"additional","affiliation":[],"role":[{"vocabulary":"crossref","role":"author"}]}],"member":"78","reference":[{"key":"10.1067\/mtc.2001.111655_bib1","doi-asserted-by":"crossref","first-page":"M790","DOI":"10.1097\/00002480-199507000-00122","article-title":"Pathophysiologic
        role of contact activation in bleeding followed by thromboembolic complications
        after implantation of a ventricular assist device","volume":"41","author":"Himmelreich","year":"1995","journal-title":"ASAIO
        J"},{"key":"10.1067\/mtc.2001.111655_bib2","doi-asserted-by":"crossref","first-page":"829","DOI":"10.1016\/S0022-5223(95)70117-6","article-title":"Reduced
        complement activation and improved postoperative performance after cardiopulmonary
        bypass with heparin-coated circuits","volume":"110","author":"Jansen","year":"1995","journal-title":"J
        Thorac Cardiovasc Surg"},{"key":"10.1067\/mtc.2001.111655_bib3","doi-asserted-by":"crossref","first-page":"117","DOI":"1[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works?rows=1&mailto=default%40example.com
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":187322808,"items":[{"indexed":{"date-parts":[[2024,5,12]],"date-time":"2024-05-12T19:25:42Z","timestamp":1715541942479},"edition-number":"1","reference-count":0,"publisher":"Wiley","isbn-type":[{"value":"9781119584339","type":"print"},{"value":"9781119584414","type":"electronic"}],"license":[{"start":{"date-parts":[[2021,6,11]],"date-time":"2021-06-11T00:00:00Z","timestamp":1623369600000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1"},{"start":{"date-parts":[[2021,6,11]],"date-time":"2021-06-11T00:00:00Z","timestamp":1623369600000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2021,9,3]]},"DOI":"10.1002\/9781119584414.ch4","type":"other","created":{"date-parts":[[2021,6,11]],"date-time":"2021-06-11T22:03:10Z","timestamp":1623448990000},"page":"47-54","source":"Crossref","is-referenced-by-count":0,"title":["Complete
        Dental Cleaning"],"prefix":"10.1002","member":"311","published-online":{"date-parts":[[2021,6,11]]},"container-title":["Blackwell''s
        Five\u2010Minute Veterinary Consult Clinical Companion"],"language":"en","link":[{"URL":"https:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.1002%2F9781119584414.ch4","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/pdf\/10.1002\/9781119584414.ch4","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/pdf\/10.1002\/9781119584414.ch4","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2023,8,19]],"date-time":"2023-08-19T12:01:53Z","timestamp":1692446513000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/10.1002\/9781119584414.ch4"}},"issued":{"date-parts":[[2021,6,11]]},"ISBN":["9781119584339","9781119584414"],"references-count":0,"alternative-id":["10.1002\/9781119584414.ch4","10.1002\/9781119584414"],"URL":"https:\/\/doi.org\/10.1002\/9781119584414.ch4","archive":["Portico"],"published":{"date-parts":[[2021,6,11]]}}],"items-per-page":1,"query":{"start-index":0,"search-terms":null}}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - polite-array
      x-concurrency-limit:
      - '3'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works?query=rhodopsin+crystal+structure&rows=1&cursor=%2A&mailto=default%40example.com
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"MTAyNzU1NjMyMzAwMCwxMC4xMDY3JTJGbXRjLjIwMDEuMTExNjU1","total-results":2665723,"items":[{"indexed":{"date-parts":[[2026,7,1]],"date-time":"2026-07-01T16:40:07Z","timestamp":17829240074[...]
