interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=title.search%3ACOVID-19%2Bvaccine%2Bdevelopment&per-page=1
  response:
    body:
      string: '{"meta": {"count": 897, "db_response_time_ms": 29, "page": 1, "per_page":
        1, "groups_count": null, "x_query": {"oql": "get works where title has (COVID-19+vaccine+development)",
        "oqo": {"get_rows": "works", "filter_rows": [{"column_id": "display_name.search",
        "value": "COVID-19+vaccine+development", "operator": "has"}]}, "url": "/works?filter=display_name.search:COVID-19%2Bvaccine%2Bdevelopment&per_page=1"},
        "cost_usd": 0.001}, "results": [{"id": "https://openalex.org/W3015371627",
        "doi": "https://doi.org/10.1038/d41573-020-00073-5", "title": "The COVID-19
        vaccine development landscape", "display_name": "The COVID-19 vaccine development
        landscape", "relevance_score": 125.23543, "publication_year": 2020, "publication_date":
        "2020-04-09", "ids": {"openalex": "https://openalex.org/W3015371627", "doi":
        "https://doi.org/10.1038/d41573-020-00073-5", "mag": "3015371627", "pmid":
        "https://pubmed.ncbi.nlm.nih.gov/32273591"}, "language": "en", "primary_location":
        {"id": "doi:10.1038/d41573-020-00073-5", "is_oa": false, "landing_page_url":
        "https://doi.org/10.1038/d41573-020-00073-5", "pdf_url": null, "source": {"id":
        "https://openalex.org/S186543748", "display_name": "Nature Reviews Drug Discovery",
        "issn_l": "1474-1776", "issn": ["1474-1776", "1474-1784"], "is_oa": false,
        "is_in_doaj": false, "is_core": true, "listed_in": ["cwts-core", "doyens",
        "jufo-3", "ki-jl-2", "medline", "norway-2"], "host_organization": "https://openalex.org/P4310319908",
        "host_organization_name": "Nature Portfolio", "host_organization_lineage":
        ["https://openalex.org/P4310319908", "https://openalex.org/P4310319965"],
        "host_organization_lineage_names": ["Nature Portfolio", "Springer Nature"],
        "type": "journal"}, "license": null, "license_id": null, "version": "publishedVersion",
        "is_accepted": true, "is_published": true, "raw_source_name": "Nature Reviews
        Drug Discovery", "raw_type": "journal-article"}, "type": "article", "indexed_in":
        ["crossref", "pubmed"], "open_access": {"is_oa": false, "oa_status": "closed",
        "oa_url": null, "any_repository_has_fulltext": false}, "authorships": [{"author_position":
        "first", "author": {"id": "https://openalex.org/A5017813513", "display_name":
        "Tung Thanh Le", "orcid": "https://orcid.org/0000-0003-1645-3787", "observed_orcids":
        ["https://orcid.org/0000-0003-1645-3787"]}, "institutions": [{"id": "https://openalex.org/I4210118009",
        "display_name": "Coalition for Epidemic Preparedness Innovations", "ror":
        "https://ror.org/02j9wvt50", "country_code": "NO", "type": "facility", "lineage":
        ["https://openalex.org/I4210118009"]}], "countries": ["NO"], "is_corresponding":
        true, "raw_author_name": "Tung Thanh Le", "raw_affiliation_strings": ["CEPI,
        Torshov, Oslo, Norway"], "raw_orcid": null, "affiliations": [{"raw_affiliation_string":
        "CEPI, Torshov, Oslo, Norway", "institution_ids": ["https://openalex.org/I4210118009"]}]},
        {"author_position": "middle", "author": {"id": "https://openalex.org/A5033337687",
        "display_name": "Zacharias Andreadakis", "orcid": "https://orcid.org/0000-0003-4126-4371",
        "observed_orcids": ["https://orcid.org/0000-0003-4126-4371"]}, "institutions":
        [{"id": "https://openalex.org/I4210118009", "display_name": "Coalition for
        Epidemic Preparedness Innovations", "ror": "https://ror.org/02j9wvt50", "country_code":
  [...]
[...]
