interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/works?cursor=%2A&per-page=10&search=COVID-19+vaccine
  response: &id001
    body:
      string: '{"meta": {"count": 467123, "db_response_time_ms": 238, "page": null,
        "per_page": 10, "next_cursor": "IlsyMzQuNTkxNTIsIDE2MjYzOTM2MDAwMDAsICdodHRwczovL29wZW5hbGV4Lm9yZy9XMzE3ODA3OTExMCddIg==",
        "groups_count": null, "x_query": {"oql": "get works where full text has (COVID-19
        vaccine)", "oqo": {"get_rows": "works", "filter_rows": [{"column_id": "fulltext.search",
        "value": "COVID-19 vaccine", "operator": "has"}]}, "url": "/works?filter=fulltext.search:COVID-19
        vaccine&per_page=10&cursor=%2A"}, "cost_usd": 0.001}, "results": [{"id": "https://openalex.org/W3182566493",
        "doi": "https://doi.org/10.1016/j.coi.2021.07.003", "title": "COVID-19 vaccines",
        "display_name": "COVID-19 vaccines", "relevance_score": 270.03494, "publication_year":
        2021, "publication_date": "2021-07-11", "ids": {"openalex": "https://openalex.org/W3182566493",
        "doi": "https://doi.org/10.1016/j.coi.2021.07.003", "mag": "3182566493", "pmid":
        "https://pubmed.ncbi.nlm.nih.gov/34330017"}, "language": "en", "primary_location":
        {"id": "doi:10.1016/j.coi.2021.07.003", "is_oa": true, "landing_page_url":
        "https://doi.org/10.1016/j.coi.2021.07.003", "pdf_url": "https://www.sciencedirect.com/science/article/pii/S095279152100090X/pdf",
        "source": {"id": "https://openalex.org/S170047187", "display_name": "Current
        Opinion in Immunology", "issn_l": "0952-7915", "issn": ["0952-7915", "1879-0372"],
        "is_oa": false, "is_in_doaj": false, "is_core": true, "listed_in": ["cwts-core",
        "doyens", "jufo-1", "ki-jl-1", "medline", "norway-1"], "host_organization":
        "https://openalex.org/P4310320990", "host_organization_name": "Elsevier BV",
        "host_organization_lineage": ["https://openalex.org/P4310320990"], "host_organization_lineage_names":
        ["Elsevier BV"], "type": "journal"}, "license": "cc-by", "license_id": "https://openalex.org/licenses/cc-by",
        "version": "publishedVersion", "is_accepted": true, "is_published": true,
        "raw_source_name": "Current Opinion in Immunology", "raw_type": "journal-article"},
        "type": "review", "indexed_in": ["crossref", "pubmed"], "open_access": {"is_oa":
        true, "oa_status": "hybrid", "oa_url": "https://www.sciencedirect.com/science/article/pii/S095279152100090X/pdf",
        "any_repository_has_fulltext": true}, "authorships": [{"author_position":
        "first", "author": {"id": "https://openalex.org/A5002034400", "display_name":
        "Duduzile Edith Ndwandwe", "orcid": "https://orcid.org/0000-0001-7129-3865",
        "observed_orcids": ["https://orcid.org/0000-0001-7129-3865"]}, "institutions":
        [{"id": "https://openalex.org/I10947320", "display_name": "South African Medical
        Research Council", "ror": "https://ror.org/05q60vz69", "country_code": "ZA",
        "type": "other", "lineage": ["https://openalex.org/I10947320"]}], "countries":
        ["ZA"], "is_corresponding": true, "raw_author_name": "Duduzile Ndwandwe",
        "raw_affiliation_strings": ["Cochrane South Africa, South African Medical
        Research Council, Parow Valley, 7501, Cape Town, South Africa. Electronic
        address: Duduzile.ndwandwe@mrc.ac.za", "Cochrane South Africa, South African
        Medical Research Council, Parow Valley, 7501, Cape Town, South Africa"], "raw_orcid":
        "https://orcid.org/0000-0001-7129-3865", "affiliations": [{"raw_affiliation_string":
        "Cochrane South Africa, South African Medical Research Council, Parow Valley,
        7501, Cape Town, South Africa. Electronic address: Duduzile.ndwandwe@mrc.ac.za",
        "institution_ids": ["https://openalex.org/I10947320"]}, {"raw_affiliation_string":
        "Cochrane South Africa, South African Medical Research Council, Parow Valley,
        7501, Cape Town, South Africa", "institution_ids": ["https://openalex.org/I10947320"]}]},
        {"author_position": "last", "author": {"id": "https://openalex.org/A5019047474",
        "display_name": "Charles Shey Wiysonge", "orcid": "https://orcid.org/0000-0002-1273-4779",
        "observed_orcids": ["https://orcid.org/0000-0002-1273-4[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/works?per-page=1
  response:
    body:
      string: '{"meta": {"count": 332066364, "db_response_time_ms": 164, "page": 1,
        "per_page": 1, "groups_count": null, "x_query": {"oql": "get works", "oqo":
        {"get_rows": "works"}, "url": "/works?per_page=1"}, "cost_usd": 0.0001}, "results":
        [{"id": "https://openalex.org/W3038568908", "doi": "https://doi.org/10.1585/pfr.15.2402039",
        "titl[...]
[...]
