interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=doi%3A10.1038%2Fs41586-020-2012-7&per-page=1
  response:
    body:
      string: "{\n  \"meta\": {\"count\": 1, \"db_response_time_ms\": 15, \"page\":
        null, \"per_page\": 1},\n  \"results\": [\n    {\n      \"id\": \"https://openalex.org/W3006090887\",\n
        \     \"doi\": \"https://doi.org/10.1038/s41586-020-2012-7\",\n      \"title\":
        \"A pneumonia outbreak associated with a new coronavirus of probable bat origin\",\n
        \     \"publication_year\": 2020,\n      \"publication_date\": \"2020-02-03\",\n
        \     \"type\": \"article\",\n      \"open_access\": {\"is_oa\": true, \"oa_status\":
        \"gold\"},\n      \"cited_by_count\": 15000,\n      \"language\": \"en\"\n
        \   }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=doi%3A10.1038%2Fs41586-020-2012-7&per-page=1
  response:
    body:
      string: '{"meta": {"count": 1, "db_response_time_ms": 8, "page": 1, "per_page":
        1, "groups_count": null, "cost_usd": 0.0001}, "results": [{"id": "https://openalex.org/W3004280078",
        "doi": "https://doi.org/10.1038/s41586-020-2012-7", "title": "A pneumonia
        outbreak associated with a new coronavirus of probable bat origin", "display_name":
        "A pneumonia outbreak associated with a new coronavirus of probable bat origin",
        "publication_year": 2020, "publication_date": "2020-02-03", "ids": {"openalex":
        "https://openalex.org/W3004280078", "doi": "https://doi.org/10.1038/s41586-020-2012-7",
        "mag": "3004280078", "pmid": "https://pubmed.ncbi.nlm.nih.gov/32015507"},
        "language": "en", "primary_location": {"id": "doi:10.1038/s41586-020-2012-7",
        "is_oa": true, "landing_page_url": "https://doi.org/10.1038/s41586-020-2012-7",
        "pdf_url": "https://www.nature.com/articles/s41586-020-2012-7.pdf", "source":
        {"id": "https://openalex.org/S137773608", "display_name": "Nature", "issn_l":
        "0028-0836", "issn": ["0028-0836", "1476-4687"], "is_oa": false, "is_in_doaj":
        false, "is_core": true, "host_organization": "https://openalex.org/P4310319908",
        "host_organization_name": "Nature Portfolio", "host_organization_lineage":
        ["https://openalex.org/P4310319908", "https://openalex.org/P4310319965"],
        "host_organization_lineage_names": ["Nature Portfolio", "Springer Nature"],
        "type": "journal"}, "license": "cc-by", "license_id": "https://openalex.org/licenses/cc-by",
        "version": "publishedVersion", "is_accepted": true, "is_published": true,
        "raw_source_name": "Nature", "raw_type": "journal-article"}, "type": "article",
        "indexed_in": ["crossref", "pubmed"], "open_access": {"is_oa": true, "oa_status":
        "hybrid", "oa_url": "https://www.nature.com/articles/s41586-020-2012-7.pdf",
        "any_repository_has_fulltext": true}, "authorships": [{"author_position":
        "first", "author": {"id": "https://openalex.org/A5083165835", "display_name":
        "Peng Zhou", "orcid": "https://orcid.org/0000-0001-9863-4201"}, "institutions":
        [{"id": "https://openalex.org/I4210106882", "display_name": "Wuhan Institute
        of Virology", "ror": "https://ror.org/01jxjav08", "country_code": "CN", "type":
        "facility", "lineage": ["https://openalex.org/I19820366", "https://openalex.org/I4210106882"]},
        {"id": "https://openalex.org/I19820366", "display_name": "Chinese Academy
        of Sciences", "ror": "https://ror.org/034t30j35", "country_code": "CN", "type":
        "funder", "lineage": ["https://openalex.org/I19820366"]}], "countries": ["CN"],
        "is_corresponding": true, "raw_author_name": "Peng Zhou", "raw_affiliation_strings":
        ["CAS Key Laboratory of Special Pathogens, Wuhan Institute of Virology, Center
        for Biosafety Mega-Science, Chinese Academy of Sciences, Wuhan, China"], "affiliations":
        [{"raw_affiliation_string": "CAS Key Laboratory of Special Pathogens, Wuhan
        Institute of Virology, Center for Biosafety Mega-Science, Chinese Academy
        of Sciences, Wuhan, China", "institution_ids": ["https://openalex.org/I4210106882",
        "https://openalex.org/I19820366"]}]}, {"author_position": "middle", "author":
        {"id": "https://openalex.org/A5039460637", "display_name": "Xing\u2010Lou
        Yang", "orcid": "https://orcid.org/0000-0002-5317-8983"}, "institutions":
        [{"id": "https://openalex.org/I4210106882", "display_name": "Wuhan Institute
        of Virology", "ror": "https://ror.org/01jxjav08", "country_code": "CN", "type":
        "facility", "lineage": ["https:[...]
