interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=doi%3A10.1038%2Ftest0%7C10.1038%2Ftest1%7C10.1038%2Ftest2%7C10.1038%2Ftest3%7C10.1038%2Ftest4&per-page=5
  response:
    body:
      string: "{\n  \"meta\": {\"count\": 0, \"db_response_time_ms\": 10, \"page\":
        null, \"per_page\": 5},\n  \"results\": []\n}\n"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=doi%3A10.1038%2Ftest0%7C10.1038%2Ftest1%7C10.1038%2Ftest2%7C10.1038%2Ftest3%7C10.1038%2Ftest4&per-page=5
  response:
    body:
      string: '{"meta": {"count": 0, "db_response_time_ms": 7, "page": 1, "per_page":
        5, "groups_count": null, "cost_usd": 0.0001}, "results": [], "group_by": []}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Cost-USD:
      - '0.0001'
      X-RateLimit-Credits-Used:
      - '1'
      X-RateLimit-Limit:
      - '10000'
      X-RateLimit-Limit-USD:
      - '1'
      X-RateLimit-Onetime-Remaining:
      - '0'
      X-RateLimit-Prepaid-Remaining-USD:
      - '0'
      X-RateLimit-Remaining:
      - '9964'
      X-RateLimit-Remaining-USD:
      - '0.9964'
      X-RateLimit-Reset:
      - '69680'
    status:
      code: 200
      message: OK
version: 1
