interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=doi%3A10.1038%2Ftest0%7C10.1038%2Ftest1%7C10.1038%2Ftest2%7C10.1038%2Ftest3%7C10.1038%2Ftest4&per-page=5
  response: &id001
    body:
      string: '{"meta": {"count": 0, "db_response_time_ms": 10, "page": 1, "per_page":
        5, "groups_count": null, "x_query": {"oql": "get works where DOI is (\n    10.1038/test0\n    or
        10.1038/test1\n    or 10.1038/test2\n    or 10.1038/test3\n    or 10.1038/test4\n  )",
        "oqo": {"get_rows": "works", "filter_rows": [{"join": "or", "filters": [{"column_id":
        "doi", "value": "10.1038/test0"}, {"column_id": "doi", "value": "10.1038/test1"},
        {"column_id": "doi", "value": "10.1038/test2"}, {"column_id": "doi", "value":
        "10.1038/test3"}, {"column_id": "doi", "value": "10.1038/test4"}]}]}, "url":
        "/works?filter=doi:10.1038%2Ftest0|10.1038%2Ftest1|10.1038%2Ftest2|10.1038%2Ftest3|10.1038%2Ftest4&per_page=5"},
        "cost_usd": 0.0001}, "results": [], "group_by": []}'
    headers:
      content-type:
      - application/json
      x-ratelimit-cost-usd:
      - '0.0001'
      x-ratelimit-credits-used:
      - '1'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-limit-usd:
      - '0.1'
      x-ratelimit-onetime-remaining:
      - '0'
      x-ratelimit-prepaid-remaining-usd:
      - '0'
      x-ratelimit-remaining:
      - '957'
      x-ratelimit-remaining-usd:
      - '0.0957'
      x-ratelimit-reset:
      - '71309'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=doi%3A10.1038%2Ftest0%7C10.1038%2Ftest1%7C10.1038%2Ftest2%7C10.1038%2Ftest3%7C10.1038%2Ftest4&per-page=5
  response: *id001
version: 1
