interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/works?mailto=default%40example.com&per-page=1
  response:
    body:
      string: '{"meta": {"count": 332066364, "db_response_time_ms": 212, "page": 1,
        "per_page": 1, "groups_count": null, "x_query": {"oql": "get works", "oqo":
        {"get_rows": "works"}, "url": "/works?per_page=1"}, "cost_usd": 0.0001}, "results":
        [{"id": "https://openalex.org/W3038568908", "doi": "https://doi.org/10.1585/pfr.15.2402039",
        "title": "Radiation Resistant Camera System for Monitoring Deuterium Plasma
        Discharges in the Large Helical Device", "display_name": "Radiation Resistant
        Camera System for Monitoring Deuterium Plasma Discharges in the Large Helical
        Device", "publication_year": 2020, "publication_date": "2020-06-08", "ids":
        {"openalex": "https://openalex.org/W3038568908", "doi": "https://doi.org/10.1585/pfr.15.2402039",
        "mag": "3038568908"}, "language": "en", "primary_location": {"id": "doi:10.1585/pfr.15.2402039",
        "is_oa": true, "landing_page_url": "https://doi.org/10.1585/pfr.15.2402039",
        "pdf_url": "https://www.jstage.jst.go.jp/article/pfr/15/0/15_2402039/_pdf",
        "source": {"id": "https://openalex.org/S46033839", "display_name": "Plasma
        and Fusion Research", "issn_l": "1880-6821", "issn": ["1880-6821"], "is_oa":
        true, "is_in_doaj": false, "is_core": true, "listed_in": ["cwts-core", "jufo-1",
        "norway-1"], "host_organization": "https://openalex.org/P4328135220", "host_organization_name":
        "Japan Society of Plasma Science and Nuclear Fusion Research", "host_organization_lineage":
        ["https://openalex.org/P4328135220"], "host_organization_lineage_names": ["Japan
        Society of Plasma Science and Nuclear Fusion Research"], "type": "journal"},
        "license": null, "license_id": null, "version": "publishedVersion", "is_accepted":
        true, "is_published": true, "raw_source_name": "Plasma and Fusion Research",
        "raw_type": "journal-article"}, "type": "article", "indexed_in": ["crossref"],
        "open_access": {"is_oa": true, "oa_status": "diamond", "oa_url": "https://www.jstage.jst.go.jp/article/pfr/15/0/15_2402039/_pdf",
        "any_repository_has_fulltext": true}, "authorships": [{"author_position":
        "first", "author": {"id": "https://openalex.org/A5039600762", "display_name":
        "M. Shoji", "orcid": "https://orcid.org/0000-0003-0655-7347", "observed_orcids":
        ["https://orcid.org/0000-0003-0655-7347"]}, "institutions": [{"id": "https://openalex.org/I199525922",
        "display_name": "National Institutes of Natural Sciences", "ror": "https://ror.org/055n47h92",
        "country_code": "JP", "type": "facility", "lineage": ["https://openalex.org/I1319490839",
        "https://openalex.org/I199525922"]}, {"id": "https://openalex.org/I4210108322",
        "display_name": "National Institute for Fusion Science", "ror": "https://ror.org/01t3wyv61",
        "country_code": "JP", "type": "facility", "lineage": ["https://openalex.org/I1319490839",
        "https://openalex.org/I199525922", "https://openalex.org/I4210108322"]}],
        "countries": ["JP"], "is_corresponding": true, "raw_author_name": "Mamoru
        SHOJI", "raw_affiliation_strings": ["National Institute for Fusion Science,
        National Institutes of Natural Sciences"], "raw_orcid": null, "affiliations":
        [{"raw_affiliation_string": "National Institute for Fusion Science, National
        Institutes of Natural Sciences", "institution_ids": ["https://openalex.org/I199525922",
        "https://openalex.org/I4210108322"]}]}, {"author_position": "last", "author":
        {"id": null, "display_name": "LHD Experiment Group", "orcid": null, "observed_orcids":
        []}, "institutions": [{"id": "https://openalex.org/I199525922", "display_name":
        "National Institutes of Natural Sciences", "ror": "https://ror.org/055n47h92",
        "country_code": "JP", "type": "facility", "lineage": ["https://openalex.org/I1319490839",
        "https://openalex.org/I199525922"]}, {"id": "https://openalex.org/I4210108322",
        "display_name": "National Institute for Fusion Science", "ror": "https://ror.org/01t3wyv61",
        "country_code": "JP", "type": "facility", "lineage": ["https://openalex.org/I1319490839",
        "https://openalex.org/I199525922", "https://openalex.org/I4210108322"]}],
        "countries": ["JP"], "is_corresponding": false, "raw_author_name": "LHD Experiment
        Group", "raw_affiliation_strings": ["National Institute for Fusion Science,
        National Institutes of Natural Sciences"], "raw_orcid": null, "affiliations":
        [{"raw_affiliation_string": "National Institute for Fusion Science, National
        Institutes of Natural Sciences", "institution_ids": ["https://openalex.org/I199525922",
        "https://openalex.org/I4210108322"]}]}], "institutions": [], "countries_distinct_count":
        1, "institutions_distinct_count": 2, "corresponding_author_ids": ["https://openalex.org/A5039600762"],
        "corresponding_institution_ids": ["https://openalex.org/I199525922", "https://openalex.org/I4210108322"],
        "apc_list": null, "apc_paid": null, "fwci": 0.929, "has_fulltext": true, "cited_by_count":
        801217, "citation_normalized_percentile": {"value": 0.83788761, "is_in_top_1_percent":
        false, "is_in_top_10_percent": false}, "cited_by_percentile_year": {"min":
        88, "max": 100}, "biblio": {"volume": "15", "issue": "0", "first_page": "2402039",
        "last_page": "2402039"}, "is_retracted": false, "is_paratext": false, "is_xpac":
        false, "primary_topic": {"id": "https://openalex.org/T10346", "display_name":
        "Magnetic confinement fusion research", "score": 0.9991000294685364, "subfield":
        {"id": "https://openalex.org/subfields/3106", "display_name": "Nuclear and
        High Energy Physics"}, "field": {"id": "https://openalex.org/fields/31", "display_name":
        "Physics and Astronomy"}, "domain": {"id": "https://openalex.org/domains/3",
        "display_name": "Physical Sciences"}}, "topics": [{"id": "https://openalex.org/T10346",
        "display_name": "Magnetic confinement fusion research", "score": 0.9991000294685364,
        "subfield": {"id": "https://openalex.org/subfields/3106", "display_name":
        "Nuclear and High Energy Physics"}, "field": {"id": "https://openalex.org/fields/31",
        "display_name": "Physics and Astronomy"}, "domain": {"id": "https://openalex.org/domains/3",
        "display_name": "Physical Sciences"}}, {"id": "https://openalex.org/T11949",
        "display_name": "Nuclear Physics and Applications", "score": 0.9987999796867371,
        "subfield": {"id": "https://openalex.org/subfields/3108", "display_name":
        "Radiation"}, "field": {"id": "https://openalex.org/fields/31", "display_name":
        "Physics and Astronomy"}, "domain": {"id": "https://openalex.org/domains/3",
        "display_name": "Physical Sciences"}}, {"id": "https://openalex.org/T10592",
        "display_name": "Fusion materials and technologies", "score": 0.998199999332428,
        "subfield": {"id": "https://openalex.org/subfields/2505", "display_name":
        "Materials Chemistry"}, "field": {"id": "https://openalex.org/fields/25",
        "display_name": "Materials Science"}, "domain": {"id": "https://openalex.org/domains/3",
        "display_name": "Physical Sciences"}}], "keywords": [{"id": "https://openalex.org/keywords/large-helical-device",
        "display_name": "Large Helical Device", "score": 1.0}, {"id": "https://openalex.org/keywords/borated-polyethylene",
        "display_name": "borated polyethylene", "score": 0.921999990940094}, {"id":
        "https://openalex.org/keywords/ccd-image-sensor", "display_name": "CCD image
        sensor", "score": 0.7239999771118164}, {"id": "https://openalex.org/keywords/self-annealing",
        "display_name": "self-annealing", "score": 0.8799999952316284}, {"id": "https://openalex.org/keywords/plasma-imaging",
        "display_name": "plasma imaging", "score": 0.5}], "concepts": [{"id": "https://openalex.org/C153385146",
        "wikidata": "https://www.wikidata.org/wiki/Q18335", "display_name": "Radiation",
        "level": 2, "score": 0.7057818174362183}, {"id": "https://openalex.org/C82706917",
        "wikidata": "https://www.wikidata.org/wiki/Q10251", "display_name": "Plasma",
        "level": 2, "score": 0.5598242878913879}, {"id": "https://openalex.org/C192562407",
        "wikidata": "https://www.wikidata.org/wiki/Q228736", "display_name": "Materials
        science", "level": 0, "score": 0.5517664551734924}, {"id": "https://openalex.org/C120665830",
        "wikidata": "https://www.wikidata.org/wiki/Q14620[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=doi%3A10.1038%2Fs41586-020-2649-2%7C10.1126%2Fscience.abc4765%7C10.1016%2Fj.cell.2020.06.043&mailto=default%40example.com&per-page=3
  response:
    body:
      string: '{"meta": {"count": 3, "db_response_time_ms": 12, "page": 1, "per_page":
        3, "groups_count": null, "x_query": {"oql": "get works where DOI is (\n    10.1016/j.cell.2020.06.043\n    or
        10.1038/s41586-020-2649-2\n    or 10.1126/science.abc4765\n  )", "oqo": {"get_rows":
        "works", "filter_rows": [{"join": "or", "filters": [{"column_id": "doi", "value":
        "10.1016/j.cell.2020.06.043"}, {"column_id": "doi", "value": "10.1038/s41586-020-2649-2"},
        {"column_id": "doi", "value": "10.1126/science.abc4765"}]}]}, "url": "/works?filter=doi:10.1016%2Fj.cell.2020.06.043|10.1038%2Fs41586-020-2649-2|10.1126%2Fscience.abc4765&per_page=3"},
        "cost_usd": 0.0001}, "results": [{"id": "https://openalex.org/W3035965352",
        "doi": "https://doi.org/10.1038/s41586-020-2649-2", "title": "Array programming
        with NumPy", "display_name": "Array programming with NumPy", "publication_year":
        2020, "publication_date": "2020-09-16", "ids": {"openalex": "https://openalex.org/W3035965352",
        "doi": "https://doi.org/10.1038/s41586-020-2649-2", "mag": "3035965352", "pmid":
        "https://pubmed.ncbi.nlm.nih.gov/32939066"}, "language": "en", "primary_location":
        {"id": "doi:10.1038/s41586-020-2649-2", "is_oa": true, "landing_page_url":
        "https://doi.org/10.1038/s41586-020-2649-2", "pdf_url": "https://www.nature.com/articles/s41586-020-2649-2.pdf",
        "source": {"id": "https://openalex.org/S137773608", "display_name": "Nature",
        "issn_l": "0028-0836", "issn": ["0028-0836", "1476-4687"], "is_oa": false,
        "is_in_doaj": false, "is_co[...]
