interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=title.search%3ACOVID-19%2Bvaccine%2Bdevelopment&per-page=1
  response:
    body:
      string: "{\n  \"meta\": {\"count\": 1, \"db_response_time_ms\": 20, \"page\":
        null, \"per_page\": 1},\n  \"results\": [\n    {\n      \"id\": \"https://openalex.org/W3100000001\",\n
        \     \"doi\": \"https://doi.org/10.1000/vaccine-001\",\n      \"title\":
        \"COVID-19 vaccine development and deployment\",\n      \"publication_year\":
        2021,\n      \"publication_date\": \"2021-01-15\",\n      \"type\": \"article\",\n
        \     \"language\": \"en\"\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=title.search%3ACOVID-19%2Bvaccine%2Bdevelopment&per-page=3
  response:
    body:
      string: '{"meta": {"count": 869, "db_response_time_ms": 13, "page": 1, "per_page":
        3, "groups_count": null, "cost_usd": 0.001}, "results": [{"id": "https://openalex.org/W3015371627",
        "doi": "https://doi.org/10.1038/d41573-020-00073-5", "title": "The COVID-19
        vaccine development landscape", "display_name": "The COVID-19 vaccine development
        landscape", "relevance_score": 3945.3403, "publication_year": 2020, "publication_date":
        "2020-04-09", "ids": {"openalex": "https://openalex.org/W3015371627", "doi":
        "https://doi.org/10.1038/d41573-020-00073-5", "mag": "3015371627", "pmid":
        "https://pubmed.ncbi.nlm.nih.gov/32273591"}, "language": "en", "primary_location":
        {"id": "doi:10.1038/d41573-020-00073-5", "is_oa": true, "landing_page_url":
        "https://doi.org/10.1038/d41573-020-00073-5", "pdf_url": "https://www.nature.com/articles/d41573-020-00073-5.pdf",
        "source": {"id": "https://openalex.org/S186543748", "display_name": "Nature
        Reviews Drug Discovery", "issn_l": "1474-1776", "issn": ["1474-1776", "1474-1784"],
        "is_oa": false, "is_in_doaj": false, "is_core": true, "host_organization":
        "https://openalex.org/P4310319908", "host_organization_name": "Nature Portfolio",
        "host_organization_lineage": ["https://openalex.org/P4310319908", "https://openalex.org/P4310319965"],
        "host_organization_lineage_names": ["Nature Portfolio", "Springer Nature"],
        "type": "journal"}, "license": null, "license_id": null, "version": "publishedVersion",
        "is_accepted": true, "is_published": true, "raw_source_name": "Nature Reviews
        Drug Discovery", "raw_type": "journal-article"}, "type": "review", "indexed_in":
        ["crossref", "pubmed"], "open_access": {"is_oa": true, "oa_status": "bronze",
        "oa_url": "https://www.nature.com/articles/d41573-020-00073-5.pdf", "any_repository_has_fulltext":
        false}, "authorships": [{"author_position": "first", "author": {"id": "https://openalex.org/A5017813513",
        "display_name": "Tung Thanh Le", "orcid": "https://orcid.org/0000-0003-1645-3787"},
        "institutions": [{"id": "https://openalex.org/I4210118009", "display_name":
        "Coalition for Epidemic Preparedness Innovations", "ror": "https://ror.org/02j9wvt50",
        "country_code": "NO", "type": "facility", "lineage": ["https://openalex.org/I4210118009"]}],
        "countries": ["NO"], "is_corresponding": true, "raw_author_name": "Tung Thanh
        Le", "raw_affiliation_strings": ["CEPI, Torshov, Oslo, Norway"], "affiliations":
        [{"raw_affiliation_string": "CEPI, Torshov, Oslo, Norway", "institution_ids":
        ["https://openalex.org/I4210118009"]}]}, {"author_position": "middle", "author":
        {"id": "https://openalex.org/A5033337687", "display_name": "Zacharias Andreadakis",
        "orcid": "https://orcid.org/0000-0003-4126-4371"}, "institutions": [{"id":
        "https://openalex.org/I4210118009", "display_name": "Coalition for Epidemic
        Preparedness Innovations", "ror": "https://ror.org/02j9wvt50", "country_code":
        "NO", "type": "facility", "lineage": ["https://openalex.[...]
