interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/search?query=test&limit=1&fields=paperId
  response:
    body:
      string: '{"total": 15910625, "offset": 0, "next": 1, "data": [{"paperId": "ef8a8bd193b1a0a5e2c834a7a28869a2ec85bab7"}]}

        '
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - EzmYbEDMvHcEvqg=
      x-amzn-remapped-connection:
      - keep-alive
      x-amzn-remapped-content-length:
      - '111'
      x-amzn-remapped-date:
      - Tue, 06 Oct 2026 05:16:37 GMT
      x-amzn-remapped-server:
      - gunicorn
      x-amzn-requestid:
      - 6dfb8b14-ac35-48d0-bc36-d4aa88e988c7
    status:
      code: 200
      message: OK
version: 1
