interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/search?query=CRISPR+gene+editing&fields=paperId,externalIds,title,abstract,year,publicationDate,venue,authors,authors.externalIds,authors.hIndex,authors.authorId,citationCount,referenceCount,isOpenAccess,openAccessPdf,tldr,fieldsOfStudy,publicationTypes,journal&offset=0&limit=3
  response:
    body:
      string: "{\n  \"total\": 50000,\n  \"offset\": 0,\n  \"next\": 3,\n  \"data\":
        [\n    {\n      \"paperId\": \"1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b\",\n
        \     \"externalIds\": {\n        \"DOI\": \"10.1126/science.aad5227\",\n
        \       \"CorpusId\": 123456\n      },\n      \"title\": \"CRISPR-Cas9 structures
        and mechanisms\",\n      \"abstract\": \"CRISPR-Cas9 has revolutionized genome
        editing.\",\n      \"year\": 2016,\n      \"publicationDate\": \"2016-01-01\",\n
        \     \"venue\": \"Science\",\n      \"authors\": [\n        {\"authorId\":
        \"1111111\", \"name\": \"Jennifer Doudna\", \"externalIds\": {\"ORCID\": \"0000-0001-1111-2222\"},
        \"hIndex\": 150}\n      ],\n      \"citationCount\": 5000,\n      \"referenceCount\":
        80,\n      \"isOpenAccess\": true,\n      \"openAccessPdf\": {\n        \"url\":
        \"https://example.com/paper.pdf\",\n        \"status\": \"GOLD\"\n      },\n
        \     \"tldr\": {\n        \"model\": \"tldr@v2.0.0\",\n        \"text\":
        \"CRISPR-Cas9 technology for genome editing.\"\n      },\n      \"fieldsOfStudy\":
        [\"Biology\", \"Genetics\"],\n      \"publicationTypes\": [\"Review\"],\n
        \     \"journal\": {\n        \"name\": \"Science\",\n        \"volume\":
        \"351\"\n      }\n    },\n    {\n      \"paperId\": \"2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c\",\n
        \     \"externalIds\": {\n        \"DOI\": \"10.1038/nature14136\",\n        \"PubMed\":
        \"25587962\",\n        \"CorpusId\": 789012\n      },\n      \"title\": \"In
        vivo genome editing using Staphylococcus aureus Cas9\",\n      \"abstract\":
        \"A compact Cas9 ortholog for in vivo applications.\",\n      \"year\": 2015,\n
        \     \"publicationDate\": \"2015-02-01\",\n      \"venue\": \"Nature\",\n
        \     \"authors\": [\n        {\"authorId\": \"2222222\", \"name\": \"Feng
        Zhang\", \"externalIds\": {\"ORCID\": \"0000-0002-3333-4444\"}, \"h[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/search?query=test&limit=1&fields=paperId
  response:
    body:
      string: '{"total": 14590209, "offset": 0, "next": 1, "data": [{"paperId": "ef8a8bd193b1a0a5e2c834a7a28869a2ec85bab7"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - ZrlG6FVvPHcEH9Q=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '111'
      x-amzn-Remapped-Date:
      - Wed, 04 Mar 2026 04:30:23 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - 5a0db9d1-31ce-4b0b-92f9-fa99338a948c
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/search?query=CRISPR+gene+editing&fields=paperId%2CexternalIds%2Ctitle%2Cabstract%2Cyear%2CpublicationDate%2Cvenue%2Cauthors%2Cauthors.externalIds%2Cauthors.hIndex%2Cauthors.authorId%2CcitationCount%2CreferenceCount%2CisOpenAccess%2CopenAccessPdf%2Ctldr%2CfieldsOfStudy%2CpublicationTypes%2Cjournal&offset=0&limit=1
  response:
    body:
      string: '{"message": "Too Many Requests. Please wait and try again or apply
        for a key for higher rate limits. https://www.semanticscholar.org/product/api#api-key-form",
        "code": "429"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - ZrlIdGXjPHcELYg=
      x-amzn-ErrorType:
      - TooManyRequestsException
      x-amzn-RequestId:
      - 6caffb88-0299-4e85-9db5-53207272adb7
    status:
      code: 429
      message: ''
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/search?query=CRISPR+gene+editing&fields=paperId%2CexternalIds%2Ctitle%2Cabstract%2Cyear%2CpublicationDate%2Cvenue%2Cauthors%2Cauthors.externalIds%2Cauthors.hIndex%2Cauthors.authorId%2CcitationCount%2CreferenceCount%2CisOpenAccess%2CopenAccessPdf%2Ctldr%2CfieldsOfStudy%2CpublicationTypes%2Cjournal&offset=0&limit=1
  response:
    body:
      string: '{"message": "Too Many Requests. Please wait and try again or apply
        for a key for higher rate limits. https://www.semanticscholar.org/product/api#api-key-form",
        "code": "429"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Zr2VGH32PHcEPOg=
      x-amzn-ErrorType:
      - TooManyRequestsException
      x-amzn-RequestId:
      - f6d6cdfe-1b1f-4283-b51d-4e56a029b5df
    status:
      code: 429
      message: ''
version: 1
