interactions:
- request:
    body: '{"ids": ["DOI:10.1038/nature12373"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.semanticscholar.org/graph/v1/paper/batch?fields=paperId,externalIds,title,abstract,year,publicationDate,venue,authors,authors.externalIds,authors.hIndex,authors.authorId,citationCount,referenceCount,isOpenAccess,openAccessPdf,tldr,fieldsOfStudy,publicationTypes,journal
  response:
    body:
      string: '[{"paperId": "a5de30adc5c22bc86e8cfabe7fbd07c052d196a8", "externalIds": {"MAG": "2159974629", "ArXiv": "1304.1068", "PubMedCentral": "4221854", "DOI": "10.1038/nature12373", "CorpusId": 4314121, "PubMed": "23903748"}, "title": "Nanometer scale thermometry in a living cell", "venue": "Nature", "year": 2013, "referenceCount": 42, "citationCount": 1827, "isOpenAccess": true, "openAccessPdf": {"url": "https://www.nature.com/articles/nature12373.pdf", "status": "BRONZE", "license": null, "disclaimer": "Notice: Paper or abstract available at https://arxiv.org/abs/1304.1068, which is subject to the license by the author or copyright owner provided with this content. Please go to the source to verify the license and copyright information for your use."}, "fieldsOfStudy": ["Medicine", "Physics", "Materials Science"], "tldr": {"model": "tldr@v2.0.0", "text": "A new approach to nanoscale thermometry is demonstrated that uses coherent manipulation of the electronic spin associated with nitrogen\u2013vacancy colour centres in diamond to detect temperature variations as small as 1.8\u2009mK in an ultrapure bulk diamond sample and demonstrate temperature-gradient control and mapping at the subcellular level."}, "publicationTypes": ["JournalArticle"], "publicationDate": "2013-04-03", "journal": {"name": "Nature", "pages": "54 - 58", "volume": "500"}, "authors": [{"authorId": "4301543", "externalIds": {}, "hIndex": 10}, {"authorId": "47762783", "externalIds": {"DBLP": ["Peter Maurer"]}, "hIndex": 15}, {"authorId": "4138853", "externalIds": {}, "hIndex": 55}, {"authorId": "2068210745", "externalIds": {}, "hIndex": 2}, {"authorId": "2250179130", "externalIds": {"DBLP": ["Hyungrae Noh"]}, "hIndex": 7}, {"authorId": "47472726", "externalIds": {}, "hIndex": 1}, {"authorId": "9236657", "externalIds": {}, "hIndex": 69}, {"authorId": "145572474", "externalIds": {"DBLP": ["Mikhail D. Lukin"]}, "hIndex": 150}], "abstract": "Sensitive probing of temperature variations on nanometre scales is an outstanding challenge in many areas of modern science and technology. In particular, a thermometer capable of subdegree temperature resolution over a large range of temperatures as well as integration within a living system could provide a powerful new tool in many areas of biological, physical and chemical research. Possibilities range from the temperature-induced control of gene expression and tumour metabolism to the cell[...]
