interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/search?query=test&limit=1&fields=paperId
  response:
    body:
      string: '{"message": "Too Many Requests. Please wait and try again or apply
        for a key for higher rate limits. https://www.semanticscholar.org/product/api#api-key-form",
        "code": "429"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - aUb-WFSbvHcEmqA=
      x-amzn-ErrorType:
      - TooManyRequestsException
      x-amzn-RequestId:
      - bd648600-0f7b-4023-ac90-2b195fd7d935
    status:
      code: 429
      message: ''
- request:
    body: '{"ids":["DOI:10.1038/s41586-020-2649-2","DOI:10.1126/science.abc4765","DOI:10.1016/j.cell.2020.06.043"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.semanticscholar.org/graph/v1/paper/batch?fields=paperId,externalIds,title,abstract,year,publicationDate,venue,authors,authors.externalIds,authors.hIndex,authors.authorId,citationCount,referenceCount,isOpenAccess,openAccessPdf,tldr,fieldsOfStudy,publicationTypes,journal
  response:
    body:
      string: '[{"paperId": "024a2c03be8e468e7c4fdf9bda36cdc0eaae85fb", "externalIds":
        {"ArXiv": "2006.10256", "MAG": "3099878876", "DBLP": "journals/nature/HarrisMWGVCWTBS20",
        "PubMedCentral": "7759461", "DOI": "10.1038/s41586-020-2649-2", "CorpusId":
        219792763, "PubMed": "32939066"}, "title": "Array programming with NumPy",
        "venue": "Nature", "year": 2020, "referenceCount": 90, "citationCount": 19081,
        "isOpenAccess": true, "openAccessPdf": {"url": "https://www.nature.com/articles/s41586-020-2649-2.pdf",
        "status": "HYBRID", "license": "CCBY", "disclaimer": "Notice: Paper or abstract
        available at https://arxiv.org/abs/2006.10256, which is subject to the license
        by the author or copyright owner provided with this content. Please go to
        the source to verify the license and copyright information for your use."},
        "fieldsOfStudy": ["Computer Science", "Mathematics", "Medicine"], "tldr":
        {"model": "tldr@v2.0.0", "text": "How a few fundamental array concepts lead
        to a simple and powerful programming paradigm for organizing, exploring and
        analysing scientific data is reviewed and its evolution into a flexible interoperability
        layer between increasingly specialized computational libraries is discussed."},
        "publicationTypes": ["Review", "JournalArticle"], "publicationDate": "2020-06-18",
        "journal": {"name": "Nature", "pages": "357 - 362", "volume": "585"}, "authors":
        [{"authorId": "2065073027", "externalIds": {}, "hIndex": 4}, {"authorId":
        "2061249", "externalIds": {"DBLP": ["K. Jarrod Millman", "K. Millman"]}, "hIndex":
        11}, {"authorId": "39888153", "externalIds": {"DBLP": ["Stefan Johann van
        der Walt", "St\u00e9fan van der Walt"]}, "hIndex": 8}, {"authorId": "3912995",
        "externalIds": {"DBLP": ["Ralf Gommers"]}, "hIndex": 14}, {"authorId": "2053486178",
        "externalIds": {}, "hIndex": 5}, {"authorId": "3084321", "externalIds": {"DBLP":
        ["David Cournapeau"]}, "hIndex": 7}, {"authorId": "34422202", "externalIds":
        {"DBLP": ["Eric Wieser"], "ORCID": "0000-0003-0412-4978"}, "hIndex": 6}, {"authorId":
        "2110004284", "externalIds": {}, "hIndex": 4}, {"authorId": "2069160663",
        "externalIds": {"DBLP": ["Sebastian Berg"]}, "hIndex": 2}, {"authorId": "2116828326",
        "externalIds": {}, "hIndex": 4}, {"authorId": "2066375342", "externalIds":
        {}, "hIndex": 4}, {"authorId": "1395072875", "externalIds": {}, "hIndex":
        3}, {"authorId": "7018631", "externalIds": {"DBLP": ["Stephan Hoyer"]}, "hIndex":
        28}, {"au[...]
