interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/search?query=CRISPR+gene+editing&fields=paperId,externalIds,title,abstract,year,publicationDate,venue,authors,citationCount,referenceCount,isOpenAccess,openAccessPdf,tldr,fieldsOfStudy,publicationTypes,journal&offset=0&limit=3
  response:
    body:
      string: |
        {
          "total": 50000,
          "offset": 0,
          "next": 3,
          "data": [
            {
              "paperId": "1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b",
              "externalIds": {
                "DOI": "10.1126/science.aad5227",
                "CorpusId": 123456
              },
              "title": "CRISPR-Cas9 structures and mechanisms",
              "abstract": "CRISPR-Cas9 has revolutionized genome editing.",
              "year": 2016,
              "publicationDate": "2016-01-01",
              "venue": "Science",
              "authors": [
                {"authorId": "1111111", "name": "Jennifer Doudna"}
              ],
              "citationCount": 5000,
              "referenceCount": 80,
              "isOpenAccess": true,
              "openAccessPdf": {
                "url": "https://example.com/paper.pdf",
                "status": "GOLD"
              },
              "tldr": {
                "model": "tldr@v2.0.0",
                "text": "CRISPR-Cas9 technology for genome editing."
              },
              "fieldsOfStudy": ["Biology", "Genetics"],
              "publicationTypes": ["Review"],
              "journal": {
                "name": "Science",
                "volume": "351"
              }
            },
            {
              "paperId": "2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c",
              "externalIds": {
                "DOI": "10.1038/nature14136",
                "PubMed": "25587962",
                "CorpusId": 789012
              },
              "title": "In vivo genome editing using Staphylococcus aureus Cas9",
              "abstract": "A compact Cas9 ortholog for in vivo applications.",
              "year": 2015,
              "publicationDate": "2015-02-01",
              "venue": "Nature",
              "authors": [
                {"authorId": "2222222", "name": "Feng Zhang"}
              ],
              "citationCount": 3000,
              "referenc[...]
