interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/search?query=test&limit=1&fields=paperId
  response:
    body:
      string: |
        {
          "total": 1000000,
          "offset": 0,
          "data": [
            {
              "paperId": "649def34f8be52c8b66281af98ae884c09aef38b"
            }
          ]
        }
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
