interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/search?query=test&limit=1&fields=paperId
  response:
    body:
      string: '{"message": "Too Many Requests. Please wait and try again or apply for a key for higher rate limits. https://www.semanticscholar.org/product/api#api-key-form", "code": "429"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - EzwNdF8YPHcEEiQ=
      x-amzn-errortype:
      - TooManyRequestsException
      x-amzn-requestid:
      - 311c6557-3e7d-40d7-85b4-90ef602f54cf
    status:
      code: 429
      message: ''
- request:
    body: '{"ids":["DOI:10.1038/s41586-020-2649-2","DOI:10.1126/science.abc4765","DOI:10.1016/j.cell.2020.06.043"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.semanticscholar.org/graph/v1/paper/batch?fields=paperId,externalIds,title,abstract,year,publicationDate,venue,authors,authors.externalIds,authors.hIndex,authors.authorId,citationCount,referenceCount,isOpenAccess,openAccessPdf,tldr,fieldsOfStudy,publicationTypes,journal
  response:
    body:
      string: '[{"paperId": "024a2c03be8e468e7c4fdf9bda36cdc0eaae85fb", "externalIds": {"MAG": "3035965352", "PubMedCentral": "7759461", "DBLP": "journals/corr/abs-2006-10256", "ArXiv": "2006.10256", "DOI": "10.1038/s41586-020-2649-2", "CorpusId": 219792763, "PubMed": "32939066"}, "title": "Array programming with NumPy", "venue": "Nature", "year": 2020, "referenceCount": 90, "citationCount": 22810, "isOpenAccess": true, "openAccessPdf": {"url": "https://www.nature.com/articles/s41586-020-2649-2.pdf", "status": "HYBRID", "license": "CCBY", "disclaimer": "Notice: Paper or abstract available at https://arxiv.org/abs/2006.10256, which is subject to the license by the author or copyright owner provided with this content. Please go to the source to verify the license and copyright information for your use."}, "fieldsOfStudy": ["Computer Science", "Mathematics", "Medicine"], "tldr": {"model": "tldr@v2.0.0", "text": "How a few fundamental array concepts lead to a simple and powerful programming paradigm for organizing, exploring and analysing scientific data is reviewed and its evolution into a flexible interoperability layer between increasingly specialized computational libraries is discussed."}, "publicationTypes": ["Review", "JournalArticle"], "publicationDate": "2020-06-18", "journal": {"name": "Nature", "pages": "357 - 362", "volume": "585"}, "authors": [{"authorId": "2065073027", "externalIds": {}, "hIndex": 4}, {"authorId": "2061249", "externalIds": {"DBLP": ["K. Jarrod Millman"]}, "hIndex": 8}, {"authorId": "39888153", "externalIds": {"DBLP": ["St\u00e9fan van der Walt"]}, "hIndex": 2}, {"authorId": "3912995", "externalIds": {}, "hIndex": 12}, {"authorId": "2053486178", "externalIds": {}, "hIndex": 7}, {"authorId": "3084321", "externalIds": {"DBLP": ["David Cournapeau"]}, "hIndex": 7}, {"authorId": "34422202", "externalIds": {"DBLP": ["Eric Wieser"], "ORCID": "0000-0003-0412-4978"}, "hIndex": 9}, {"authorId": "2110004284", "externalIds": {}, "hIndex": 4}, {"authorId": "2069160663", "externalIds": {}, "hIndex": 2}, {"authorId": "2116828326", "externalIds": {}, "hIndex": 3}, {"authorId": "2066375342", "externalIds": {}, "hIndex": 4}, {"authorId": "1395072875", "externalIds": {}, "hIndex": 3}, {"authorId": "7018631", "externalIds": {"DBLP": ["Stephan Hoyer"]}, "hIndex": 28}, {"authorId": "40801125", "externalIds": {}, "hIndex": 3}, {"authorId": "144082394", "externalIds": {"DBLP": ["M. Brett", "Matthew Brett"]}, "hIndex": 32}, {"authorId": "3029849", "externalIds": {"DBLP": ["Allan Haldane"]}, "hIndex": 14}, {"authorId": "2248252521", "externalIds": {}, "hIndex": 1}, {"authorId": "2037317966", "externalIds": {"DBLP": ["Mark Wiebe"]}, "hIndex": 6}, {"authorId": "143825690", "externalIds": {"DBLP": ["Pearu Peterson"]}, "hIndex": 8}, {"authorId": "1752588457", "externalIds": {}, "hIndex": 1}, {"authorId": "46183258", "externalIds": {}, "hIndex": 17}, {"authorId": "144896751", "externalIds": {}, "hIndex": 5}, {"authorId": "2214143", "externalIds": {"DBLP": ["Warren Weckesser"]}, "hIndex": 13}, {"authorId": "153697803", "externalIds": {"DBLP": ["Hameer Abbasi"]}, "hIndex": 4}, {"authorId": "102782888", "externalIds": {}, "hIndex": 8}, {"authorId": "35525979", "externalIds": {"DBLP": ["Travis E. Oliphant"]}, "hIndex": 16}], "abstract": "Array programming provides a powerful, compact and expressive syntax for accessing, manipulating and operating on data in vectors, matrices and higher-dimensional arrays. NumPy is the primary array programming library for the Python language. It has an essential role in research analysis pipelines in fields as diverse as physics, chemistry, astronomy, geoscience, biology, psychology, materials science, engineering, finance and economics. For example, in astronomy, NumPy was an important part o[...]
