interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/search?query=CRISPR+gene+editing&fields=paperId,externalIds,title,abstract,year,publicationDate,venue,authors,authors.externalIds,authors.hIndex,authors.authorId,citationCount,referenceCount,isOpenAccess,openAccessPdf,tldr,fieldsOfStudy,publicationTypes,journal&offset=0&limit=3
  response:
    body:
      string: '{"total": 108645, "offset": 0, "next": 3, "data": [{"paperId": "40e4e9a1f4431a952014fd8bdd4827e29718b217", "externalIds": {"PubMedCentral":
        "12825352", "DOI": "10.1002/smtd.202401632", "CorpusId": 278933728, "PubMed": "40434188"}, "title": "Lipid Nanoparticles for Delivery
        of CRISPR Gene Editing Components", "venue": "Small Methods", "year": 2025, "referenceCount": 204, "citationCount": 55, "isOpenAccess":
        true, "openAccessPdf": {"url": "https://doi.org/10.1002/smtd.202401632", "status": "HYBRID", "license": "CCBYNCND", "disclaimer": "Notice:
        Paper or abstract available at https://pmc.ncbi.nlm.nih.gov/articles/PMC12825352, which is subject to the license by the author or copyright
        owner provided with this content. Please go to the source to verify the license and copyright information for your use."}, "fieldsOfStudy":
        ["Medicine"], "tldr": {"model": "tldr@v2.0.0", "text": "In this review, the widely used CRISPR gene editing systems are first overviewed,
        and each component of LNPs, as well as their effects on delivery, are systematically discussed."}, "publicationTypes": ["Review", "JournalArticle"],
        "publicationDate": "2025-05-28", "journal": {"name": "Small Methods", "volume": "10"}, "authors": [{"authorId": "2363804544", "externalIds":
        {}, "hIndex": 3}, {"authorId": "2363841368", "externalIds": {}, "hIndex": 3}, {"authorId": "2363974075", "externalIds": {}, "hIndex":
        5}, {"authorId": "2023741281", "externalIds": {}, "hIndex": 17}, {"authorId": "2312280467", "externalIds": {}, "hIndex": 7}, {"authorId":
        "2241736330", "externalIds": {}, "hIndex": 33}, {"authorId": "2256557416", "externalIds": {}, "hIndex": 21}], "abstract": "Gene editing
        has emerged as a promising therapeutic option for treating genetic diseases. However, a central challenge in the field is the safe and
        efficient delivery of these large editing tools, especially in vivo. Lipid nanoparticles (LNPs) are attractive nonviral vectors due to
        their low immunogenicity and high delivery efficiency. To maximize editing efficiency, LNPs should efficiently protect gene editing components
        against multiple biological barriers and[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/search?query=test&limit=1&fields=paperId
  response:
    body:
      string: '{"total": 14590209, "offset": 0, "next": 1, "data": [{"paperId": "ef8a8bd193b1a0a5e2c834a7a28869a2ec85bab7"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - ZrlG6FVvPHcEH9Q=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '111'
      x-amzn-Remapped-Date:
      - Wed, 04 Mar 2026 04:30:23 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - 5a0db9d1-31ce-4b0b-92f9-fa99338a948c
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/search?query=CRISPR+gene+editing&fields=paperId%2CexternalIds%2Ctitle%2Cabstract%2Cyear%2CpublicationDate%2Cvenue%2Cauthors%2Cauthors.externalIds%2Cauthors.hIndex%2Cauthors.authorId%2CcitationCount%2CreferenceCount%2CisOpenAccess%2CopenAccessPdf%2Ctldr%2CfieldsOfStudy%2CpublicationTypes%2Cjournal&offset=0&limit=1
  response:
    body:
      string: '{"message": "Too Many Requests. Please wait and try again or apply for a key for higher rate limits. https://www.semanticscholar.org/product/api#api-key-form",
        "code": "429"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - ZrlIdGXjPHcELYg=
      x-amzn-ErrorType:
      - TooManyRequestsException
      x-amzn-RequestId:
      - 6caffb88-0299-4e85-9db5-53207272adb7
    status:
      code: 429
      message: ''
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/search?query=CRISPR+gene+editing&fields=paperId%2CexternalIds%2Ctitle%2Cabstract%2Cyear%2CpublicationDate%2Cvenue%2Cauthors%2Cauthors.externalIds%2Cauthors.hIndex%2Cauthors.authorId%2CcitationCount%2CreferenceCount%2CisOpenAccess%2CopenAccessPdf%2Ctldr%2CfieldsOfStudy%2CpublicationTypes%2Cjournal&offset=0&limit=1
  response:
    body:
      string: '{"message": "Too Many Requests. Please wait and try again or apply for a key for higher rate limits. https://www.semanticscholar.org/product/api#api-key-form",
        "code": "429"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Zr2VGH32PHcEPOg=
      x-amzn-ErrorType:
      - TooManyRequestsException
      x-amzn-RequestId:
      - f6d6cdfe-1b1f-4283-b51d-4e56a029b5df
    status:
      code: 429
      message: ''
version: 1
