entity_name: document
endpoint: /document
primary_key: document_chembl_id

fields:
  - name: abstract
    data_type: string
    is_nullable: true
    is_filterable: true
    description: Аннотация документа

  - name: authors
    data_type: string
    is_nullable: true
    is_filterable: true
    description: Строка с авторами

  - name: doc_type
    data_type: string
    is_nullable: false
    is_filterable: true
    description: Тип документа (PUBLICATION, DATASET, PATENT и т.п.)

  - name: document_chembl_id
    data_type: string
    is_nullable: false
    is_filterable: true
    description: ChEMBL ID документа

  - name: doi
    data_type: string
    is_nullable: true
    is_filterable: true
    description: DOI публикации

  - name: doi_chembl
    data_type: string
    is_nullable: true
    is_filterable: false
    description: Внутренний DOI ChEMBL для датасетов

  - name: first_page
    data_type: string
    is_nullable: true
    is_filterable: false
    description: Первая страница

  - name: issue
    data_type: string
    is_nullable: true
    is_filterable: false
    description: Номер выпуска

  - name: journal
    data_type: string
    is_nullable: true
    is_filterable: true
    description: Сокращённое название журнала

  - name: journal_full_title
    data_type: string
    is_nullable: true
    is_filterable: false
    description: Полное название журнала

  - name: last_page
    data_type: string
    is_nullable: true
    is_filterable: false
    description: Последняя страница

  - name: patent_id
    data_type: string
    is_nullable: true
    is_filterable: true
    description: Идентификатор патента

  - name: pubmed_id
    data_type: string
    is_nullable: true
    is_filterable: true
    description: PubMed ID

  - name: src_id
    data_type: integer
    is_nullable: true
    is_filterable: true
    description: ID источника (журнал, WDI, deposited и т.п.)

  - name: title
    data_type: string
    is_nullable: false
    is_filterable: true
    description: Заголовок статьи/документа

  - name: volume
    data_type: string
    is_nullable: true
    is_filterable: false
    description: Том

  - name: year
    data_type: integer
    is_nullable: true
    is_filterable: true
    description: Год публикации

  - name: chembl_release_id
    data_type: integer
    is_nullable: true
    is_filterable: false
    description: ID релиза ChEMBL, в котором документ появился

pagination:
  limit: 1000
  offset: 0

