# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/dataSources.xml
/AICommit.xml
/claudeCodeTabState.xml
/codex.xml
/copilot.data.migration.agent.xml
/copilot.data.migration.ask.xml
/copilot.data.migration.ask2agent.xml
/copilot.data.migration.edit.xml
/csv-editor.xml
/git_toolbox_prj.xml
/junie.xml
/sonarlint.xml
/webResources.xml
/.ai/
# Editor-based HTTP Client requests
/httpRequests/
